<h2 class="page-header">Wyślij wiadomość</h2>
<div id="chat">
    <div id="messages"></div>
    <div class="form-row">
        <div class="form-item">
            <input type="text" id="messageInput" placeholder="Wpisz wiadomość" height="200px">
            <br>
            <div class="form-row form-row-end btn-row">
                <button class="btn btn-primary">Napisz wiadomość</button>
                <a class="btn btn-danger" href="/posts">Anuluj</a>
            </div>
        </div>
    </div>
</div>