<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Okolice.pl</a>
        <ul>
            <li class="header-link"><a href="/posts">Ogloszenia</a></li>
            <li class="header-link"><a href="/posts/new">Dodaj ogloszenie</a></li>
            <!-- <li class="header-link"><a href="/messages">Wiadomosci</a></li> -->
            <!-- <li class="header-link"><a href="/auth/login">Zaloguj</a></li> -->
            <!-- <li class="header-link"><a href="/auth/register">Rejestruj</a></li> -->
        </ul>
    </nav>
</header>