<div class="form-row">
    <div class="form-item">
      <label for="title">Tytuł:</label>
      <input type="text" id="title" name="title" required>
    </div>
    <div class="form-item">
      <label for="category">Kategoria:</label>
        <select id="category" name="category" required>
          <option value="Motoryzacja">Motoryzacja</option>
          <option value="Nieruchomości">Nieruchomości</option>
          <option value="Elektronika">Elektronika</option>
          <option value="Moda">Moda</option>
          <option value="Sport">Sport</option>
          <option value="Hobby">Hobby</option>
          <option value="Usługi">Usługi</option>
          <option value="Praca">Praca</option>
        </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-item">
      <label for="images">Zdjęcia:</label>
      <input type="file" id="images" name="images" class="filepond" multiple>
    </div>
    <div class="form-item">
      <label for="description">Opis:</label>
      <textarea id="description" name="description" required></textarea>
    </div>
  </div>