<header>
    <nav>
        <a href="/">Wszystko.pl</a>
        <ul>
            <li><a href="/publications">Ogloszenia</a></li>
            <li><a href="/publications/new">Dodaj ogloszenie</a></li>
        </ul>
    </nav>
</header>